<%- include ('partials/header') %>

<div class="row">
    <div class="container">
        <div class="jumbotron">
            <h1><%- campground.name %></h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid" src="<%= campground.image %>">
            </div>
            <div class="col-sm-6">
                <p class="text-justify"><%= campground.description %></p>
            </div>
        </div>
        <a href="/campgrounds" class="btn btn-warning">Back</a>
        <div class="row">
            <div class="col-sm-12">
                <% campground.comments.forEach((comment) => { 
                    console.log(comment.author);
                    %>
                    <div class="card">
                        <div class="card-body">
                            <small class="text-muted"><%= comment.author %></small>
                            <p class="card-text"><%= comment.text %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include ('partials/footer') %>